# MongoDB URI
# Para desarrollo local: mongodb://localhost:27017/gestionPresupuesto
# Para producción (MongoDB Atlas): mongodb+srv://usuario:contraseña@cluster.mongodb.net/gestionPresupuesto
MONGODB_URI=mongodb://localhost:27017/gestionPresupuesto

# Puerto
PORT=3000

# Ambiente
NODE_ENV=development
